registry=https://registry.npmjs.org
@zeilsell-user1:registry=https://npm.pkg.github.com
npm.pkg.github.com/:_authToken=${GITHUB_PACKAGES_KEY}
registry.npmjs.org/:_authToken=${NPM_PACKAGES_KEY}
legacy-peer-deps=true
