.page  {
  display: grid;
  grid-template-columns: 1fr;
}

.pageitem {
  justify-self: stretch;
  align-self: stretch;
}

.banner {
  justify-self: stretch;
  align-self: stretch;
  background: lightgrey;
  text-align: center;
}

.content{
  height: 70%;
  justify-self: stretch;
  align-self: stretch;
}

