.globalnav {
  background: orange;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  height: 5%;
}

.globalnavcontainer {
  display: grid;
  grid-template-columns: 1fr 6fr 3fr;
  grid-template-areas: "logo links buttons";
  column-gap: 1vh;
  justify-content: center;
  justify-items: center;
}

.globalnavmobilecontainer {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: "logo buttons burger";
  column-gap: 1vh;
  justify-content: center;
  justify-items: center;
}

.globalnavmobileburger {
  grid-row-start: 1;
  grid-column-start: 3;
  justify-content: center;
  justify-self: center;
  padding: 10%;
}

.imagediv {
  display: flex;
  justify-content: center;
  justify-items: center;
  padding: 10%;
}

.logoimg {
  margin-left: 1vh;
  aspect-ratio: 1;
  margin: 1vh;
}

.burgerimg {
  margin-left: 1vh;
  aspect-ratio: 1;
  margin: 1vh;
}

.globalnavitem {
  justify-self: stretch;
  align-self: stretch;
}

.globalnavmenu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  margin: 1vh;
  align-items: start;
  justify-items: center;
  column-gap: 1vh;
}

.navbarbuttons {
  display: grid;
  grid-template-columns: 1fr;
  padding: 5%;
}
